<div ng-controller="AddPostCtrl">
    <div class="container">
        <form class="form-horizontal" ng-submit="AddPost()">
            <div class="jumbotron" style="padding-bottom:0px;">
                <h2>Create Post</h2>
            </div>
            <fieldset>
                <!-- Text input-->
                <div class="form-group">
                    <label class="col-md-4 control-label" for="txtTitle">Title</label>
                    <div class="col-md-4">
                        <input id="txtTitle" name="txtTitle" type="text" ng-model="article.title" placeholder="title" class="form-control input-md">
                    </div>
                </div>
 
                <!-- Textarea -->
                <div class="form-group">
                    <label class="col-md-4 control-label" for="txtPost">Post</label>
                    <div class="col-md-4">
                        <textarea class="form-control" ng-model="article.post" id="txtPost" placeholder="add post..." name="txtPost"></textarea>
                    </div>
                </div>
 
                <!-- Button -->
                <div class="form-group">
                    <label class="col-md-4 control-label" for="singlebutton"></label>
                    <div class="col-md-4">
                        <input id="singlebutton" ng-disabled="!article.title || !article.post" name="singlebutton" class="btn btn-primary" type="submit" value="Publish" />
                    </div>
                </div>
 
            </fieldset>
        </form>
    </div>
</div>